@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  /* Colour */
  --color-main: #fdf6e3;
  --color-accent: #523b2c;
  --color-brand: #2c7a7b;

  /* Font */
  --font-mono: monospace;
  --font-brand: "Notable", system-ui;
  --font-body: "Oswald", sans-serif;
  --font-main: "Xanh Mono", monospace;

  /* Text */
  --text-h1: 3.5rem;
  --text-h2: 1.875rem;
  --text-h3: 1.25rem;
  --text-body: 1rem;
  --text-sm: 0.875rem;
  --leading-body: 1.625;

  /* Spacing */
  --spacing: 0.25rem;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-2xl: 1rem;
  --radius-5xl: 3rem;

  /* Breakpoints */
  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 31.3125rem;
  --breakpoint-xxl: 87.5rem;
}

.active {
  color: #2c7a7b;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.inactive {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.inactive:hover,
.active:hover {
  transform: translateY(-4px);
}

.btn-hover:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease-in-out;
}

.btn-underline {
  color: #fdf6e3;
  position: relative;
  display: inline-block;
}

.btn-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fdf6e3;
  bottom: -1px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-out;
}

.btn-underline:hover::after {
  transform: scaleX(1);
}

.open-nav {
  @apply fixed top-0 right-0 w-full z-10 py-8 translate-y-0 opacity-100 scale-100 transition-all duration-300 ease-out;
}

.close-nav {
  @apply fixed top-0 right-0 w-full z-10 py-8 -translate-y-full opacity-0 scale-95 transition-all duration-300 ease-in;
}

.preload * {
  transition: none !important;
  -webkit-transition: none !important;
}

.about-btn {
  @apply px-6 py-3 border-2 border-accent rounded-2xl bg-transparent transition-all duration-500 relative z-10 overflow-hidden;
}

.about-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background: #523b2c;
  transition: 0.5s;
  z-index: -1;
}

.about-btn:hover::before {
  height: 100%;
}

.about-btn:hover {
  color: #fdf6e3;
}

.menu-content {
  @apply flex pb-8 mb-8 border-b-2 border-brand;
}
