@import url("https://fonts.googleapis.com/css2?family=Notable&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@theme {
  /* Colour */
  --color-main: #fdf6e3;
  --color-accent: #523b2c;
  --color-brand: #2c7a7b;

  /* Font */
  --font-mono: monospace;
  --font-brand: "Notable", system-ui;
  --font-body: "Oswald", sans-serif;
  --font-main: "Xanh Mono", monospace;

  /* Text */
  --text-h1: 3.5rem;
  --text-h2: 1.875rem;
  --text-h3: 1.25rem;
  --text-body: 1rem;
  --text-sm: 0.875rem;
  --leading-body: 1.625;

  /* Spacing */
  --spacing: 0.25rem;

  /* Radius */
  --radius-lg: 0.5rem;
  --radius-2xl: 1rem;
  --radius-5xl: 3rem;

  /* Breakpoints */
  --breakpoint-3xl: 120rem;
  --breakpoint-xs: 31.3125rem;
  --breakpoint-xxl: 87.5rem;
}

.active {
  color: #2c7a7b;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.inactive {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.inactive:hover,
.active:hover {
  transform: translateY(-4px);
}
